In [1]:
import numpy as np
import pandas as pd

n = np.array([10, 100, 1000, 10000])

table = pd.DataFrame(index=n)

table['Algorithm A'] = 100 * n + 1
table['Algorithm B'] = n**2 + n + 1
table['Algorithm C'] = table['Algorithm B'] / table['Algorithm A']

table

       Algorithm A  Algorithm B  Algorithm C
10            1001          111     0.110889
100          10001        10101     1.009999
1000        100001      1001001    10.009910
10000      1000001    100010001   100.009901